@{
	ViewData["title"] = "Blog";
	Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!doctype html>
<body id="page-top">
	<section id="team" class="team bwt-90">
		<div class="container text-center">
			<h1 class="title yellow">Champion Of Contests</h1>
			<div class="row">
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-1.jpg" class="img-responsive img-circle"></div>
						<h4>William James</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-2.jpg" class="img-responsive img-circle"></div>
						<h4>John Robert</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-3.jpg" class="img-responsive img-circle"></div>
						<h4>James Austin</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-4.jpg" class="img-responsive img-circle"></div>
						<h4>Laura Olivia</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>