@{
    ViewData["title"] = "Champion Of Contests";
    Layout = "~/Areas/User/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        .teamgrid .image {
            width: 100%;
            height: 200px; /* Đặt chiều cao tùy ý */
            overflow: hidden;
            position: relative;
            border-radius: 50%; 
        }

            .teamgrid .image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: inherit;
            }

        
    </style>
</head>
<body id="page-top">
    <section id="team" class="team bwt-90">
        <div class="container text-center">
            <h1 class="title yellow">Champion Of Contests</h1>
            <div class="row">
                @foreach (var userDetail in Model)
                {
                    <div class="col-sm-6 col-md-3 bwt-offset-top-20" style="margin-bottom : 40px">
                        <div class="teamgrid">
                            <div class="image">
                                <img src="@userDetail.Avatar" alt="@userDetail.FullName">
                            </div>
                            <h4>@userDetail.FullName</h4>
                            <div class="social-icon">
                                <a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
                                <a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>
