
<!doctype html>

<body id="page-top">

	<section id="home" class="home">
		<div class="overlay">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
					<li data-target="#myCarousel" data-slide-to="1"></li>
					<li data-target="#myCarousel" data-slide-to="2"></li>
				</ol>

				<div class="carousel-inner">
					<div class="item active">
						<div class="carousel-caption">
							<p class="text-uppercase">Master the science of food preparation</p>
							<h1 class="text-capitalize">Chef James Thew: Mastery Unveiled, Culinary Excellence.</h1>
						</div>
					</div>

					<div class="item">
						<div class="carousel-caption">
							<p class="text-uppercase">Come and get a delicious experience</p>
							<h1 class="text-capitalize">Savor James Thew's culinary creations.</h1>

						</div>
					</div>

					<div class="item">
						<div class="carousel-caption">
							<p class="text-uppercase">Cooking secrets from real professionals</p>
							<h1 class="text-capitalize">James Thew: Culinary Secrets Unveiled.</h1>

						</div>
					</div>
				</div>

				<a class="left carousel-control" href="#myCarousel" data-slide="prev">
					<span class="glyphicon glyphicon-chevron-left"></span>
					<span class="sr-only">Previous</span>
				</a>
				<a class="right carousel-control" href="#myCarousel" data-slide="next">
					<span class="glyphicon glyphicon-chevron-right"></span>
					<span class="sr-only">Next</span>
				</a>
			</div>
		</div>
	</section>

	<section id="about" class="about bwt-90">
		<div class="container">
			<div class="col-md-6">
				<img src="~/User/images/JT3.jpg" class="img-responsive">
			</div>
			<div class="col-md-6 bwt-offset-lg-top-0 bwt-offset-md-top-0 bwt-offset-xxs-top-30">
				<h1 class="title">Talking About James Thew</h1>
				<h4>James Thew: Elegant Creativity in Every Culinary Creation</h4>
				<p>
					James Thew, a culinary luminary, elevates the art of cooking to new heights. With a fervent passion for gastronomy, James has redefined culinary excellence. His creations are a harmonious blend of tradition and innovation, captivating taste buds with every dish.
				</p>
				<p>James not only delights in creating exquisite flavors but also shares his expertise generously. As a mentor and influencer, he imparts his culinary wisdom, making the art of cooking accessible to all. Join us on a journey into the world of James Thew, where each dish tells a story of passion, innovation, and the pursuit of culinary perfection.</p>
			</div>
		</div>
	</section>

	<section id="recipes" class="recipes bwt-90">
		<div class="container text-center">
			<h1 class="title yellow">Amazing recipes for everyone</h1>
			<div class="row">
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-1.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-2.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-3.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-4.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-5.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/recipes-6.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="gallery" class="gallery bwt-90">
		<div class="container text-center">
			<h1 class="title">Recipes Gallery</h1>
			<div class="row bwt-offset-top-30">
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-1.jpg" rel="lightbox">
							<img src="~/User/images/gallery-1.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-2.jpg" rel="lightbox">
							<img src="~/User/images/gallery-2.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-3.jpg" rel="lightbox">
							<img src="~/User/images/gallery-3.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-4.jpg" rel="lightbox">
							<img src="~/User/images/gallery-4.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-5.jpg" rel="lightbox">
							<img src="~/User/images/gallery-5.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-6.jpg" rel="lightbox">
							<img src="~/User/images/gallery-6.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-7.jpg" rel="lightbox">
							<img src="~/User/images/gallery-7.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
				<div class="col-xs-6 col-sm-3 col-md-3">
					<div class="row bwt-relative">
						<a href="~/User/images/gallery-8.jpg" rel="lightbox">
							<img src="~/User/images/gallery-8.jpg" class="img-responsive">
							<i class="fa fa-search-plus bwt-center-absolute"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="contests" class="contests bwt-90">
		<div class="container text-center">
			<h1 class="title yellow" style="color: #000;">Contests</h1>
			<div class="row">
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/nam2.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/ck.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/beef.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/fish.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/beef.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-6 text-sm-left text-md-left text-lg-left bwt-offset-top-20">
					<div class="row">
						<div class="col-sm-4 col-md-3"><img src="~/User/images/fish.jpg" class="img-responsive img-circle"></div>
						<div class="col-sm-8 col-md-9">
							<h3>Praesent sapien massa</h3>
							<p>Nulla porttitor accumsan tincidunt. Nulla porttitor accumsan tincidunt.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="team" class="team bwt-90">
		<div class="container text-center">
			<h1 class="title yellow">Champion Of Contests</h1>
			<div class="row">
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-1.jpg" class="img-responsive img-circle"></div>
						<h4>William James</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-2.jpg" class="img-responsive img-circle"></div>
						<h4>John Robert</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-3.jpg" class="img-responsive img-circle"></div>
						<h4>James Austin</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-6 col-md-3 bwt-offset-top-20">
					<div class="teamgrid">
						<div class="image"><img src="~/User/images/chef-4.jpg" class="img-responsive img-circle"></div>
						<h4>Laura Olivia</h4>
						<div class="social-icon">
							<a href="#" class="social-button"><i class="fa fa-facebook"></i></a>
							<a href="#" class="social-button"><i class="fa fa-twitter"></i></a>
							<a href="#" class="social-button"><i class="fa fa-google-plus"></i></a>
							<a href="#" class="social-button"><i class="fa fa-dribbble"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="blog" class="blog bwt-90">
		<div class="container text-center">
			<h1 class="title">Latest Blog Posts</h1>
			<div class="row">
				<div class="col-sm-4 col-md-4 bwt-offset-top-20">
					<img src="~/User/images/blog-1.jpg" class="img-responsive">
					<div class="info">
						<h4 class="text-capitalize">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar</h4>
						<div class="date"><i class="fa fa-calendar"></i> Posted on: Mar 25 2018 </div>
						<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 bwt-offset-top-20">
					<img src="~/User/images/blog-2.jpg" class="img-responsive">
					<div class="info">
						<h4 class="text-capitalize">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar</h4>
						<div class="date"><i class="fa fa-calendar"></i> Posted on: Mar 25 2018 </div>
						<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
					</div>
				</div>
				<div class="col-sm-4 col-md-4 bwt-offset-top-20">
					<img src="~/User/images/blog-3.jpg" class="img-responsive">
					<div class="info">
						<h4 class="text-capitalize">Mauris blandit aliquet elit, eget tincidunt nibh pulvinar</h4>
						<div class="date"><i class="fa fa-calendar"></i> Posted on: Mar 25 2018 </div>
						<p>Quisque velit nisi, pretium ut lacinia in, elementum id enim.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="register" class="register bwt-90">
		<div class="container text-center">
			<h1 class="title">Register</h1>
			<div class="row">
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" id="username" class="form-control" placeholder="Enter your username" />
					</div>
					<div class="form-group">
						<input type="password" id="password" class="form-control" placeholder="Enter your password" />
					</div>
					<div class="form-group">
						<input type="email" id="email" class="form-control" placeholder="Enter your email" />
					</div>
					<div class="form-group">
						<input type="text" id="fullname" class="form-control" placeholder="Enter your full name" />
					</div>
					<div class="form-group">
						<select id="gender" class="form-control">
							<option value="male">Male</option>
							<option value="female">Female</option>
						</select>
					</div>
				</div>
				<div class="col-md-6">
					<div class="form-group">
						<input type="text" id="phone" class="form-control" placeholder="Enter your phone number" />
					</div>
					<div class="form-group">
						<input type="text" id="address" class="form-control" placeholder="Enter your address" />
					</div>
					<div class="form-group">
						<input type="file" id="avatar" class="form-control-file" />
					</div>
					<div class="form-group">
						<select id="registration-package" class="form-control">
							<option value="member">Member</option>
							<option value="free">Free</option>
						</select>
					</div>
				</div>
				<div class="col-md-12 bwt-offset-top-20">
					<input type="submit" class="btn btn-primary btn-lg" value="REGISTER" />
				</div>
			</div>
		</div>
	</section>

</body>
</html>
