
<section class="bwt-footer bwt-50">
    <div class="container text-center">
        <h3>Get the latest posts delivery directly to your inbox!</h3>
        <div class="form-box">
            <form action="#" method="post">
                <input type="email" placeholder="Enter Your E-mail" name="email" required>
                <input type="submit" value="Subscribe" class="btn btn-primary btn-lg">
            </form>
        </div>
        <div class="social">
            <a href="#"><i class="fa fa-facebook facebook"></i></a>
            <a href="#"><i class="fa fa-twitter twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus google"></i></a>
            <a href="#"><i class="fa fa-linkedin linked"></i></a>
            <a href="#"><i class="fa fa-youtube youtube"></i></a>
        </div>
        <div class="con">
            <span><i class="fa fa-map-marker"></i> 2735 My Drive, Garden City, NY, 11530</span>
            <span><i class="fa fa-phone"></i> 347-408-9626, 516-457-8790</span>
            <span><i class="fa fa-envelope-o"></i> info@cookingmaster.com</span>
        </div>
    </div>
</section>

<section class="bwt-footer-copyright">
    <div class="container">
        <div class="row">
            <div class="col-md-6 copyright">
                <div class="left-text">Copyright &copy; Cooking Master 2018. All Rights Reserved</div>
            </div>

        </div>
    </div>
</section>

<div class="scrollup">
    <a class="page-scroll" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>