
<section class="bwt-footer bwt-50">
    <div class="container text-center">
        <h3>Get the latest posts delivery directly to your inbox!</h3>
        <div class="form-box">
            <form action="#" method="post">
                <input type="email" placeholder="Enter Your E-mail" name="email" required>
                <input type="submit" value="Subscribe" class="btn btn-primary btn-lg">
            </form>
        </div>
        <div class="social">
            <a href="#"><i class="fa fa-facebook facebook"></i></a>
            <a href="#"><i class="fa fa-twitter twitter"></i></a>
            <a href="#"><i class="fa fa-google-plus google"></i></a>
            <a href="#"><i class="fa fa-linkedin linked"></i></a>
            <a href="#"><i class="fa fa-youtube youtube"></i></a>
        </div> 
       <div class="con">
            <span><i class="fa fa-map-marker"></i> 38 Yên Bái, Quận Hải Châu, TP. Đà Nẵng</span>
            <span><i class="fa fa-phone"></i> 0236.3.779.779</span>
            <span><i class="fa fa-envelope-o"></i> jamesthewchess@gmail.com</span>
        </div>
    </div>
</section>

<div class="scrollup">
    <a class="page-scroll" href="#page-top"><i class="fa fa-chevron-up"></i></a>
</div>