﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>James Thew's Culinary</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" href="apple-touch-icon.png">

    <!--Google fonts Link-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800/Playfair+Display:400,700,900" rel="stylesheet">

    <link rel="stylesheet" href="~/User/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/User/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/User/css/jquery.lightbox.min.css">

    

    <!--Theme custom css -->
    <link rel="stylesheet" href="~/User/css/style.css">

</head>
<body>
    <section id="container">
        <!--header start-->
        @Html.Partial("_Header")
        <!--header end-->
        <div>
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <!--footer start-->
        @Html.Partial("_Footer")
        <!--footer end-->
    </section>
    <script src="~/User/js/jquery.min.js"></script>
    <script src="~/User/js/bootstrap.min.js"></script>
    <script src="~/User/js/jquery.easing.min.js"></script>
    <script src="~/User/js/jquery.lightbox.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBN6QMkhRai__cvLrV7C4PvkKgZWO8HFUU&callback=initMap"></script>
    <script src="~/User/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>